# Pre-processing:

## Importing libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os

## Loading the dataset:

In [2]:
df = pd.read_csv('/Users/hamzaalbustanji/Documents/GitHub/House-Price-prediction-API/data/df_eda.csv')
df.head()

,SalePrice,Neighborhood,YearBuilt,Garage,Fireplace,Condition,HouseStyle,BuildingType,HalfBath,FullBath,Bedrooms,HouseArea,LotArea
0,208500,CollgCr,2003,1.0,0.0,Average,Two story,Single-family,1,2,3,3114,8450
1,181500,Veenker,1976,1.0,1.0,Average,One story,Single-family,0,2,3,2984,9600
2,223500,CollgCr,2001,1.0,1.0,Average,Two story,Single-family,1,2,3,3314,11250
3,140000,Crawfor,1915,1.0,1.0,Average,Two story,Single-family,0,1,3,3115,9550
4,250000,NoRidge,2000,1.0,1.0,Above Average,Two story,Single-family,1,2,4,4179,14260

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SalePrice     1459 non-null   int64
 1   Neighborhood  1459 non-null   object
 2   YearBuilt     1459 non-null   int64
 3   Garage        1458 non-null   float64
 4   Fireplace     1458 non-null   float64
 5   Condition     1459 non-null   object
 6   HouseStyle    1459 non-null   object
 7   BuildingType  1459 non-null   object
 8   HalfBath      1459 non-null   int64
 9   FullBath      1459 non-null   int64
 10  Bedrooms      1459 non-null   int64
 11  HouseArea     1459 non-null   int64
 12  LotArea       1459 non-null   int64
dtypes: float64(2), int64(7), object(4)
memory usage: 148.3+ KB

In [4]:
df['Fireplace'] = df['Fireplace'].fillna(0)
df['Garage'] = df['Garage'].fillna(0)

## Converting data types:

In [5]:
df['Fireplace']= df['Fireplace'].astype('str')
df['Garage']= df['Garage'].astype('str')
df['HalfBath']= df['HalfBath'].astype('str')
df['FullBath']= df['FullBath'].astype('str')
df['Bedrooms']= df['Bedrooms'].astype('str')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SalePrice     1459 non-null   int64
 1   Neighborhood  1459 non-null   object
 2   YearBuilt     1459 non-null   int64
 3   Garage        1459 non-null   object
 4   Fireplace     1459 non-null   object
 5   Condition     1459 non-null   object
 6   HouseStyle    1459 non-null   object
 7   BuildingType  1459 non-null   object
 8   HalfBath      1459 non-null   object
 9   FullBath      1459 non-null   object
 10  Bedrooms      1459 non-null   object
 11  HouseArea     1459 non-null   int64
 12  LotArea       1459 non-null   int64
dtypes: int64(4), object(9)
memory usage: 148.3+ KB

## Creating dummy variables:

In [7]:
df_object = df.select_dtypes(include = 'object')
df_numeric = df.select_dtypes(exclude = 'object')

In [8]:
df_object_dummies = pd.get_dummies(df_object,drop_first=True)

In [9]:
df_object_dummies.head()

,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,Neighborhood_Edwards,Neighborhood_Gilbert,Neighborhood_IDOTRR,Neighborhood_MeadowV,...,FullBath_1,FullBath_2,FullBath_3,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_8
0,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
1455,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1456,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1457,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1458,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [10]:
final_df = pd.concat([df_numeric,df_object_dummies], axis = 1)

In [11]:
final_df.head()

,SalePrice,YearBuilt,HouseArea,LotArea,Neighborhood_Blueste,Neighborhood_BrDale,Neighborhood_BrkSide,Neighborhood_ClearCr,Neighborhood_CollgCr,Neighborhood_Crawfor,...,FullBath_1,FullBath_2,FullBath_3,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_8
0,208500,2003,3114,8450,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
1,181500,1976,2984,9600,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,223500,2001,3314,11250,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
3,140000,1915,3115,9550,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
4,250000,2000,4179,14260,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

## Train/Test split:

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = df.drop(columns = 'SalePrice', axis = 1)
y = df[['SalePrice']]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

## Scaling the features:

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [16]:
scaler.fit(X_train)

StandardScaler()

In [17]:
X_train = scaler.transform(X_train)

In [18]:
X_test = scaler.transform(X_test)

## Saving the data: